.sidebar {
  li {
    a {
      svg {
        width: 2rem;
      }

      span {
        margin-left: 1rem;
      }
    }
  }
}
.bg-gray {
  background-color: #e6e6e6;
}
.bg-red {
  background-color: red;
}
.text-red {
  color: red;
}
.border-red {
  border-color: red;
}
.hover-bg-red {
  &:hover {
    background-color: red;
  }
}
.bg-shadow {
  transition: all 0.3s;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: -1;
  }
  &:hover::after {
    border: 4px solid red;
  }
}

.product-box {
  &:hover {
    -webkit-box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 8px 10px -4px rgba(0, 0, 0, 0.41);
  }
}

footer {
  p {
    color: #878787;
  }
  a {
    font-size: 16px;
  }
}
.slick-arrow {
  border: 1px solid red;
  background-color: transparent;
  color: red;
  padding: 10px 15px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slick-next:before,
.slick-prev:before {
  content: unset;
}

.slick-prev {
  left: -30px;
}
.slick-next {
  right: -30px;
}
.slick-next i,
.slick-prev i {
  font-size: 16px;
}

.menu,
.sidebar {
  li {
    &:hover > a {
      color: red;
    }
  }
}

.dropdown {
  .dropdown-item {
    position: absolute;
    opacity: 0;
    text-align: left;
    background-color: black;
    left: 1rem;
    top: 5rem;
  }
  &:hover .dropdown-item {
    opacity: 1;
    top: 3rem;
    z-index: 30;
    background-color: #eec41f;
  }
}

.menu {
  @include medium-screen {
    background-color: black;
    position: absolute;
    z-index: 99;
    left: -100%;
    padding-bottom: 1rem;
  }
}
.menu.active {
  left: 0;
  width: 100%;

  .dropdown {
    .dropdown-item {
      left: 60%;

      &::after {
        content: "";
        border: 0 solid transparent;
        border-top-width: 15px;
        border-right-width: 15px;
        border-bottom: 15px solid #eec41f;
        position: absolute;
        top: -5px;
        left: -2px;
        transform: rotate(45deg);
      }
    }
    &:hover > .dropdown-item {
      left: 12rem;
      opacity: 1;
      top: 1rem;
    }
  }
}

.sidebar {
  transition: all 0.1s;
  @include large-screen {
    position: absolute;
    opacity: 0;
    left: -100%;
    top: 5rem;
  }

  @include mobile-screen {
    width: 50%;
    padding-top: 1rem;
  }

  .dropdown {
    position: relative;
    .dropdown-item {
      left: 110%;
      min-width: 12rem;

      &::after {
        content: "";
        border: 0 solid transparent;
        border-top-width: 15px;
        border-right-width: 15px;
        border-bottom: 15px solid red;
        position: absolute;
        top: -5px;
        left: -2px;
        transform: rotate(45deg);
      }
    }
    &:hover > .dropdown-item {
      left: 100%;
      opacity: 1;
      background-color: red;
      top: 0;

      a {
        &:hover {
          color: #eec41f;
        }
      }
    }
  }
}

.sidebar.active {
  left: 0;
  opacity: 1;
  top: 4rem;
  z-index: 21;
}

.open-menu {
  display: none;
  @include medium-screen {
    display: block;
  }
}

.close-menu {
  display: none;
}
.menu.menu.active {
  .close-menu {
    @include medium-screen {
      display: flex;
    }
  }
}
